html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #ff7315 50%, #fafafa 50%);
  min-height: 1000px;
  font-family: 'Lato',sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
  font-size: 2rem;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #ff7315;
  text-align: center;
  max-width: 450px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e8f9e9;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color:  #b9cced;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  text-transform: capitalize;
  
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ff7315;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  cursor: pointer;
}


input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ff7315;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
